<script id='tpl-HomeView' type='text/html'>
    <div class='header'>
	</div>
	<div class='body'>
		<a href='#Me' class='home-button' id='me-btn'>
			<img src='img/app/Me_Icon.png' />
		</a>
		<a href='#Favorites' class='home-button' id='favorites-btn'>
			<img src='img/app/Fav_Icon.png' />
		</a>
		<a href='#Experience' id='experience-btn'>
			<img src='img/app/Pardoes_Icon.png' />
		</a>
		<a href='#Park' class='home-button' id='map-btn'>
			<img src='img/app/Map_Icon.png' />
		</a>
		<a href='#Poi' class='home-button' id='pois-btn'>
			<img src='img/app/Poi_List_Icon.png' />
		</a>
		<a href='#Storybook' class='home-button' id='stories-btn'>
			<img src='img/app/StoryBook_Icon.png' />
		</a>
	</div>
	<div class='footer'>
	</div>
</script>

<script id='tpl-HomeUpView' type='text/html'>
    <div class='header'>
	</div>
	<div class='body'>
	</div>
	<div class='footer'>
	</div>
</script>

<script id='tpl-HomeDownView' type='text/html'>
    <div class='header'>
	</div>
	<div class='body'>
	</div>
	<div class='footer'>
	</div>
</script>